
	<!-- <div class="f1logoBar row">
      <img src="../assets/f1logo.svg" height="50" width="80" />
      <p class="text-right close-icon-blue"> 
        <img src="../assets/close-icon-blue.svg" height="10" width="20">
      </p>
    </div> -->
    <!-- <div class="row menu-bar" style="margin-left: 0px;">
    
          <a class="col" routerLink="/departments" routerLinkActive="active">
            Departments
          </a>
       
          <a class="col" routerLink="/employees">
            Employees
          </a>
       
          <a class="col" routerLink="/demo-bootstrap">
            Bootstrap
          </a>
    </div> -->
    <!-- <div class="row" style="margin-left: 0px;background: #fff">
    	<form class="form">
    		<div>
    			<label for="">Hello</label>
    		</div>
    	</form>
    </div>
 -->
<div class="row" id="{{myId}}" style="height: 100%">
  <div class="body">
		<footer class="row footer">
		    <div class="col-4 f1logo">
	        <img src="../assets/f1logo.svg" height="40" width="80" />
		    </div>
		    <div class="col-4">
	          <img src="../assets/mic-on.svg" height="35" width="45" />
	          <img src="../assets/video-off.svg" height="35" width="45" />
	          <img src="../assets/end-call.svg" height="35" width="45" />
		    </div>
		    <div class="col-4">
	          <button routerLink="/billing1" (click)="meClicked(this)" class="btn btn-light billing">Start billing</button>
	 			    <img src="../assets/fullscreen.svg" height="15" width="15" /><span style="font-size: 10px;"> Exit Full screen </span>
		    </div>
		</footer>
	</div>
</div>
