<div class="row">
  <div class="col-7">
    <div class="footer row">
      <div class="col-5 f1logo">
              <img src="../assets/f1logo.svg" height="40" width="80" />
      </div>
      <div class="col-4">
              <img src="../assets/mic-on.svg" height="35" width="40" />
              <img src="../assets/video-off.svg" height="35" width="40" />
              <img src="../assets/end-call.svg" height="35" width="40" />
      </div>
      <div class="col-3 billing" style="z-index:1">
        <a routerLink="/product" class="btn btn-light billing">Start billing</a>
        <!-- <button type="button" routerLink="/product" class="btn btn-light billing">Start billing</button> -->
        <img src="../assets/fullscreen.svg" height="15" width="15" /><span style="font-size: 10px;"> Exit Full screen </span>
      </div>
    </div>
  </div>
  <div class="col-5">

  </div>
</div>

<router-outlet></router-outlet>