<style>
.footer {
	z-index: -999999999999999;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="f1logoBar row">
	<img src="../assets/f1logo.svg" height="50" width="80" />
	<p class="text-right close-icon-blue"> 
		<img src="../assets/close-icon-blue.svg" routerLink=""  height="10" width="20">
	</p>
</div>
<div class="row" style=" background-color: #dee2e6">
	<div class="col-4 no-padding" routerLink="/product">
		<p class="text-center no-margin"><img src="../assets/product.svg" height="30" width="20"></p>
	  	<p class="lowFont1 title text-center no-margin">Product details</p>
	  	<p class="text-center circle step no-margin active" [class]="submitte ? 'green': 'active' ">1 </p>
	</div>
	<div class="col-4 no-padding" routerLink="/customer-detail">
		<p class="text-center no-margin"><img src="../assets/contact-information.svg" height="30" width="20"></p>
        <p class="lowFont1 title text-center no-margin">Customer details</p>
        <p class="text-center circle step no-margin">2</p>
	</div>
	<div class="col-4 no-padding" routerLink="/payment">
		<p class="text-center no-margin"><img src="../assets/credit-card.svg" height="30" width="20"></p>
	    <p class="lowFont1 title text-center no-margin">Payment details</p>
	    <p class="text-center circle step no-margin">3</p>
	</div>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs pureWhite">
	<li *ngFor="let c of cart" ngbNavItem class="col navLi menu-bar">
		<a ngbNavLink>Product - {{c.count}}<img src="../assets/close-icon.svg" [style.display]="
		hasZeroCount ? 'none' : 'block'"  height="10" width="20" count={{c.count}} (click)="minus(c.count)"></a>

    	<ng-template ngbNavContent>
    	<form class="form-group container w3-container pureWhite" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate="">
    		<div class="form-group">
                <label class="lowFont">Model / Product Id *</label>
                <input type="text" required #name  name="productID{{c.count}}" class="form-control w3-input" [(ngModel)]="c.productID" placeholder="Product ID">
            </div>	
            <div class="form-group">
                <label class="lowFont">Product Type *</label>
                <input type="text" required #productType  name="productType{{c.count}}" class="form-control w3-input" [(ngModel)]="c.productType" placeholder="Product Type">
            </div>	
            <div class="form-group">
                <label class="lowFont">Purity *</label>
                <input type="text" required #purity  name="purity{{c.count}}" class="form-control w3-input" [(ngModel)]="c.purity" placeholder="purity">
            </div>
            <div class="form-group">
                <label class="lowFont">Weight *</label>
                <input type="text" required #weight  name="weight{{c.count}}" class="form-control w3-input" [(ngModel)]="c.weight" placeholder="weight">
            </div>	
            
            <!-- <button class="btn btn-primary" type="submit">Save</button> -->
            <hr />
            <div class="form-group row">
				<div class="col-8">
				    <span style="font-size: 11px;padding: 2px !important;" (click)="addMore()" class="btn btn-primary"><i class="fa fa-plus"></i>Add more products</span>
				</div>
			</div>
			</form>
    	</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav"></div>
<div class="w3-container pureWhite container" style="z-index:999; margin-bottom: 10%" id="orderSummary">
	<p>ORDER SUMMARY</p>
	<hr/>
	<div class="row">
		<div class="col-6">
			<label class="smallFont">Discount :</label>
		</div>
		<div class="col-6 text-right">
			<label class="smallFont">7678</label>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<label class="smallFont">SGST :</label>
		</div>
		<div class="col-6 text-right">
			<label class="smallFont">768</label>
		</div>
	</div>
	<div class="row">
		<div class="col-6 ">
			<label class="smallFont">CGST :</label>
		</div>
		<div class="col-6 text-right">
			<label class="smallFont">7678</label>
		</div>
	</div>
	<hr />
	<div class="row">
		<h5 class="col-6" class="Total">Grand Total</h5>
		<div class="col-6 text-right">
			<label>19,655</label>
		</div>
	</div>
	<hr>
	<div style="margin-bottom: 5%" class="row btn btn-primary"  (click)="submitted()" type="button" routerLink="/customer-detail">Submit & Go to Customer Detail</div>
</div>


<!-- <div class="row">
	<div class="col-8">
	    <span style="font-size: 11px;padding: 2px !important;" (click)="addMore()" class="btn btn-primary"><i class="fa fa-plus"></i>Add more products</span>
	</div>
</div> -->

<!-- <div class="row">
	<div class="row"><p></p></div>
	<form class="grey container product w3-container"> -->
	<!-- 	<div class="row">
	      <label for="validationDefault01">Model / Product Id *</label>
	      <input type="text" class="form-control w3-input" id="validationDefault01" placeholder="First name" value="" required>
	    </div>
	    <div class="row"><p></p></div>
	    <div class="row">
	      <label for="validationDefault01">Product Type *</label>
	      <input type="text" class="form-control w3-input" id="validationDefault01" placeholder="First name" value="" required>
	    </div>
	    <div class="row"><p></p></div>
	    <div class="row">
	      <label for="validationDefault01">Purity *</label>
	      <input type="text" class="form-control w3-input" id="validationDefault01" placeholder="First name" value="" required>
	    </div>
	    <div class="row"><p></p></div>
	    <div class="row">
	      <label for="validationDefault01">Weight *</label>
	      <input type="text" class="form-control w3-input" id="validationDefault01" placeholder="First name" value="" required>
	    </div>
	  -->
	    <!-- <div class="row"><p></p></div>
	    <div class="row">
	    	<div class="col-8">
	    		<span style="font-size: 11px;padding: 2px !important;" (click)="addMore()" class="btn btn-primary"><i class="fa fa-plus"></i>Add more products</span>
	    	</div>
	    </div> -->

	<!-- </form>

	<div class="row  container highIndex ">
		<div *ngFor="let i of Product" class="row pureWhite orderSummary">
			<P>Order Summary</P>
		</div>
	</div>
	
</div> -->